.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: start; /* Align items at the start of the container */
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines as needed */
}

.project-image {
  flex: 1 1 35%; /* Allows flexibility but tries to take up 35% of the container's width */
  max-width: 35%; /* Maximum width to help enforce the 2 items per row rule */
  height: 95vh; /* Sets a fixed height for all images */
  object-fit: cover; /* Ensures images cover the area nicely, might crop some parts */
}

/* Specific style for the fourth image to maintain its original aspect ratio */
.projects-container img:nth-child(4) {
  height: 95vh; /* Resets the height to auto to maintain original aspect ratio */
  object-fit: scale-down; /* Ensures the image is scaled down if necessary, without cropping */
  max-width: 20%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: black;
}

@media (max-width: 768px) {
  .project-image {
    width: 100%; /* Full width for smaller screens */
    max-width: 100%; /* Overrides any max-width set above */
    height: 100%; /* Adjusts height to maintain a good view on mobile, you can adjust this value */
  }
  
  /* Adjust the fourth image on smaller screens, if necessary */
  .projects-container img:nth-child(4) {
    /* Add any specific styles for mobile here if needed, for maintaining aspect ratio */
  }

  .projects-container img:nth-child(4) {
    object-fit: scale-down; /* Ensures the image is scaled down if necessary, without cropping */
    max-width: 100%; /* Overrides any max-width set above */
    height: 100%; /* Adjusts height to maintain a good view on mobile, you can adjust this value */
    padding-left: 7.5%;
    padding-right: 7.5%;
    background-color: black;
  }
}


